<div class="container">
    <div class="centerWrap">
        <div class="row" style="height: 550px;">
            <div class="MvisibleContent halfScreen contentLeft">
                <div id="concept_modal" class="Mmodels">
                    <div class="Mcontent">
                        <div class="Mheader">
                            <h2>What is Phenoh?</h2>
                        </div>
                        <div class="Mbody">
                            <div class="contentWrapper">
                                <div>
                                    <h3>Phenoh is BETTER HYDRATION</h3>
                                    <p>Combining plant-powered nutrients with alkaline minerals and hydrating electrolytes, specifically formulated to reflect the chemistry of the human body.</p>
                                </div>
                                <div>
                                    <h3>On a Mission...</h3>
                                    <p>To Make HEALTHIER, more effective HYDRATION beverages for EVERYONE</p>
                                </div>
                                <div class="video-container">
                                    <div>
                                        <iframe src="https://www.youtube.com/embed/zu58eD4-ZIc" frameborder="0" allowfullscreen></iframe>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="ingredients_modal" class="Mmodels">
                    <div class="Mcontent">
                        <div class="Mbody">
                            <div class="contentWrapper">
                                <div id="flip-container-3" class="sizeF">
                                    <div id="flipper-3">
                                        <div class="front">
                                            <div>
                                                <img class="img-circle" src="public/assets/images/ingrediants/aloevera.jpg" alt="" width="200" height="200">
                                                <p class="Iimage">Organic Aloe Vera</p>
                                            </div>
                                        </div>
                                        <div class="back">
                                            <div class="Iback-content">
                                                <br><br><p>super nutrient rich to fight inflammation and boost the immune system</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="flip-container-4" class="sizeF">
                                    <div id="flipper-4">
                                        <div class="front sizeF">
                                            <div>
                                                <img class="img-circle" src="public/assets/images/ingrediants/agave.png" alt="" width="200" height="200">
                                                <p class="Iimage">Organic Agave Nectar</p>
                                            </div>
                                        </div>
                                        <div class="back">
                                            <div class="Iback-content">
                                                <br><br><p>(just a tad) our premium agave nectar is slow glycemicand provides stable energy all day long</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="flip-container-5" class="sizeF">
                                    <div id="flipper-5">
                                        <div class="front sizeF">
                                            <div>
                                                <img class="img-circle" src="public/assets/images/ingrediants/mag.png" alt="" width="200" height="200">
                                                <p class="Iimage">Magnesium Chloride</p>
                                            </div>
                                        </div>
                                        <div class="back">
                                            <div class="Iback-content">
                                                <br><p>more electrolytes that come from the sea, these guys help with digestion, nutrient absorption and balanced hydration</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="flip-container-6" class="sizeF">
                                    <div id="flipper-6">
                                        <div class="front sizeF">
                                            <div>
                                                <img class="img-circle" src="public/assets/images/ingrediants/dipotassium.png" alt="" width="200" height="200">
                                                <p class="Iimage">Dipotassium Phosphate</p>
                                            </div>
                                        </div>
                                        <div class="back">
                                            <div class="Iback-content">
                                                <br><p>"alkaline electrolytes" ... Phenoh 7.4 has more potassium than coconut water, and that helps with essential pH balance</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="flip-container-7" class="sizeF">
                                    <div id="flipper-7">
                                        <div class="front sizeF">
                                            <div>
                                                <img class="img-circle" src="public/assets/images/ingrediants/absorbic.png" alt="" width="200" height="200">
                                                <p class="Iimage">Ascorbic Acid</p>
                                            </div>
                                        </div>
                                        <div class="back">
                                            <div class="Iback-content">
                                                <br><br><p>vitamin C is a very important anti-oxidant for healthy immune function</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="flip-container-8" class="sizeF">
                                    <div id="flipper-8">
                                        <div class="front sizeF">
                                            <div>
                                                <img class="img-circle" src="public/assets/images/ingrediants/fruits.png" alt="" width="200" height="200">
                                                <p class="Iimage">Organic Fruit Flavors</p>
                                            </div>
                                        </div>
                                        <div class="back">
                                            <div class="Iback-content">
                                                <br><br><p>your tastebuds will love us!</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="waterText">
                                    <p>...and Reverse Osmosis Filtered Water - the key to hydration</p>
                                </div>
                                <button class="btn-submit" style="margin-top: 1px;" data-toggle="modal" data-target="#video_modal">Click HERE to watch our short video about our ingredients!</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="benefits_modal" class=" Mmodels" style="margin-top: 10%">
                    <div class="Mcontent">
                        <div class="Mbody">
                            <div class="contentWrapper">
                                <div class="Mbenifits Mbenifits1">
                                    <div>
                                        <h3>Physical performace</h3>
                                        <p>Using a simple combination of plant powered nutrients, alkaline minerals, and hydrating electrolytes, Phenoh is formulated to reflect and support the natural chemistry of the human body.</p>
                                    </div>
                                </div>
                                <div class="Mbenifits Mbenifits2">
                                    <div>
                                        <h3>Hydration</h3>
                                        <p>With 700mg of potassium per 8oz serving, Phenoh has more electrolytes than sports drinks and coconut water!</p>
                                    </div>
                                </div>
                                <div class="Mbenifits Mbenifits3">
                                    <div>
                                        <h3>Teeth</h3>
                                        <p>Acid is the direct cause of tooth erosion.  While other bottled beverages are acidic, Phenoh is not and our teeth love that.</p>
                                    </div>
                                </div>
                                <div class="Mbenifits Mbenifits4">
                                    <div>
                                        <h3>Superior nutrient delivery</h3>
                                        <p>While the body works hard to rid itself of acidic metabolic waste, alkaline foods and drinks are shown to improve our rate and efficiency of nutrient uptake.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="for_modal" class=" Mmodels">
                    <div class="Mcontent">
                        <div class="Mbody">
                            <div class="contentWrapper">
                                <div>
                                    <h3>EVERYONE!!</h3>
                                    <p>Phenoh is specifically designed to support the body's natural functions. We designed Phenoh to SOLVE the problems with bottled beverges that negatively affect our health and performance.  Whether you are an athlete or a mathlete, Phenoh will help YOU BE YOU.  #UBU</p>
                                </div>
                                <div class="video-container">
                                    <div class="videoBlk">
                                        <iframe src="https://www.youtube.com/embed/bj5_bgYaLIg" frameborder="0" allowfullscreen></iframe>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="halfScreen tabsRight">
                <ul class="tabs tabsDesk">
                    <li class="tab1 clickable" id="concept_label" data-tgt="#concept_modal">
                        
                    </li>
                    <li class="tab2 clickable" id="ingredients_label" data-tgt="#ingredients_modal">
                        
                    </li>
                    <li class="tab3 clickable" id="benefits_label" data-tgt="#benefits_modal">
                        
                    </li>
                    <li class="tab4 clickable" id="for_label" data-tgt="#for_modal">
                        
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div id="video_modal" class="modal modal-fullscreen fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h2 class="modal-title">Phenoh Ingredients</h2>
            </div>
            <div class="modal-body">
                <div class="contentWrapper">
                    <div class="videoBlk video-container">
                        <iframe src="https://www.youtube.com/embed/-pSvAF9ToOk" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>