<section id="features" class="parallax">
    <div class="container">
        <div class="row count">
            <div class="col-sm-3 col-xs-6 wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="300ms">
                <i class="<?php echo $fun_facts[0][icon_class] ?>"></i>
                <h3 class="timer" data-id="<?php echo $fun_facts[0][id_fact] ?>"><?php echo $fun_facts[0][fact] ?></h3>
                <p><?php echo $fun_facts[0][description] ?></p>
            </div>
            <div class="col-sm-3 col-xs-6 wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="500ms">
                <i class="<?php echo $fun_facts[1][icon_class] ?>"></i>
                <h3 class="timer" data-id="<?php echo $fun_facts[1][id_fact] ?>"><?php echo $fun_facts[1][fact] ?></h3>
                <p><?php echo $fun_facts[1][description] ?></p>
            </div> 
            <div class="col-sm-3 col-xs-6 wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="700ms">
                <i class="<?php echo $fun_facts[2][icon_class] ?>"></i>
                <h3 class="timer" data-id="<?php echo $fun_facts[2][id_fact] ?>"><?php echo $fun_facts[2][fact] ?></h3>
                <p><?php echo $fun_facts[2][description] ?></p>
            </div> 
            <div class="col-sm-3 col-xs-6 wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="900ms">
                <i class="<?php echo $fun_facts[3][icon_class] ?>"></i>
                <h3 class="timer" data-id="<?php echo $fun_facts[3][id_fact] ?>"><?php echo $fun_facts[3][fact] ?></h3>
                <p><?php echo $fun_facts[3][description] ?></p>
            </div>                 
        </div>
    </div>
    <div class="overlay"></div>
</section><!--/#features-->