<div id="home-slider" class="carousel slide carousel-fade" data-ride="carousel">
    <div class="carousel-inner">
        <div class="item active" id="item1" style="background-image: url('<?php echo $img_src[1] ?>')">
            <div class="caption" style="top: 55%">
                <div class="row">
                    <div class="new-head">
                        <p style="font-size: 80px; letter-spacing: 11px;" data-animation="animated fadeInLeftBig">BETTER</p>
                        <p style="font-size: 60px; color: #45e838" data-animation="animated fadeInRightBig">HYDRATION</p>
                    </div>
                    <div data-animation="animated fadeInRightBig">
                        <p style="font-size: 40px; line-height: 1.3;"><span style="font-size: 20px;">by</span> Phenoh</p>
                        <p style="font-size: 20px;">(fee-no)</p>
                    </div>
                </div>
                <div class="row" style="margin-top: 30px; text-align: -webkit-center;" data-animation="animated fadeInUpBig">
                    <img class="img-responsive" src="public/assets/images/tetra.png?v=1" alt="tetra" width="300">
                    <p class="helvatica" style="margin: 10px;"><a href="#services" id="home_button">CLICK TO LEARN MORE!</a></p>
                </div>
            </div>
        </div>
        <div class="item" style="background-image: url('<?php echo $img_src[2] ?>')">
            <div class="caption" style="top: 55%">
                <div class="headerHeading">
                    <div class="row">
                        <p data-animation="animated fadeInRightBig" style="font-size: 60px; color: #45e838">Phenoh is</p>
                    </div>
                </div>
                <div class="row itemRow3 " data-animation="animated fadeIn">
                    <div class="col-sm-3 phenohContents" >
                        <div style="height: 80px;">
                            <img class="img-responsive" src="public/assets/images/PlantIcon_w.png?v=1" alt="tetra" width="80">
                        </div>
                        <p style="font-size: 20px;">PLANT-POWERED</p>
                    </div>
                    <div class="col-sm-1"><p style="font-size: 50px; margin-top: 25px;">+</p></div>
                    <div class="col-sm-3 phenohContents">
                        <div style="height: 80px; margin-top: 15px;">
                            <img class="img-responsive" src="public/assets/images/Alkaline_w.png?v=1" alt="tetra" width="80">
                        </div>
                        <p style="font-size: 20px;">ALKALINE MINERALS</p>
                    </div>
                    <div class="col-sm-1"><p style="font-size: 50px; margin-top: 25px;">+</p></div>
                    <div class="col-sm-3 phenohContents">
                        <div style="height: 110px; margin-top: 15px;">
                            <img class="img-responsive" src="public/assets/images/HydrationIcon_w.png?v=1" alt="tetra" width="80">
                        </div>
                        <p style="font-size: 20px;">HYDRATING ELECTROLYTES</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="item" style="background-image: url('<?php echo $img_src[3] ?>')">
            <div class="caption" style="top: 55%">
                <div class="headerHeading">
                    <div class="row" style="line-height: 1;">
                        <p data-animation="animated fadeInLeftBig" class="heroHeading" style="font-size: 75px;">BETTER BY DESIGN</p>
                        <p data-animation="animated fadeInRightBig" class="helvatica" style="font-size: 30px;">simple ingredients to solve major problems</p>
                    </div>
                </div>
                <div class="row itemRow4 helvatica hideContent" style="margin-right: 10%; margin-top: 10%;" data-animation="animated fadeIn">
                    <p style="text-align: right; display: inline-block; color: #D3D6D2; font-size: 25px; line-height: 28px;">helping <br/>you be you</p>
                    <h1 class="bouncers ubu hideContent" style="color: #45e838; display: inline-block; font-size: 70px;" data-animation="animated zoomInUp"><b>#UBU</b></h1>
                </div>
            </div>
        </div>
        <div class="item" style="background-image: url('<?php echo $img_src[4] ?>')">
            <div class="caption" style="top: 55%">
                <div class="headerHeading">
                    <div class="row">
                        <p data-animation="animated fadeInLeftBig" style="font-size: 45px; line-height: 1;">A PRODUCT WITH A PURPOSE</p>
                    </div>
                </div>
                <div class="row headerHeading helvatica" data-animation="animated fadeInUpBig">
                    <div style="padding: 0px;">
                        <h1>
                            <em class="garamond" style="font-size: 35px;">Our</em><p class="bouncers" data-animation="animated pulse"><span>MISSION</span></p>
                            <em class="garamond" style="font-size: 35px;">is to make</em><p class="bouncers" data-animation="animated pulse"><span>HEALTHIER</span></p>
                            <em class="garamond" style="font-size: 35px;">more effective</em><p class="bouncers" data-animation="animated pulse"><span>HYDRATION</span></p>
                            <em class="garamond" style="font-size: 35px;">beverages available</em><p class="bouncers" data-animation="animated pulse"><span>FOR EVERYONE</span></p>
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a class="left-control" href="#home-slider" data-slide="prev"><i class="fa fa-angle-left"></i></a>
    <a class="right-control" href="#home-slider" data-slide="next"><i class="fa fa-angle-right"></i></a>
</div>