<section id="home">
    <?php echo $hero_tpl ?>
</section>

<section id="services">
    <?php echo $factoid_tpl ?>
</section><!--/#services-->
    
<section id="about-us" class="parallax">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 about-us">
                <div class="about-info wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
                    <h2>About us</h2>
                    <p>Five years ago, on a bike ride in Central California, Alex had an idea for a better hydration beverage. As a college athlete studying biology and on his way to dental school, he learned that formulated beverages use acids as a flavor additive and preservative. As his undergraduate senior research project, he investigated the negative effects that this acidity has on our health and performance.</p>
                    <p>With no healthy alternative to highly acidic, processed, and overly sweet beverage products, Alex decided to make his own. Intelligently crafted based on scientific data and medical research to help users function at their highest capacity and using only the simplest, nutritious ingredients-Phenoh was born. Our mission is to make healthier, more effective hydration beverages available to everyone, while accepting social responsibility and giving back to the community along the way. </p>
                    <button data-src="https://www.youtube.com/embed/zu58eD4-ZIc" id="learn" class="btn-submit">Learn more about Phenoh, click to watch our video!</button>
                </div>
                <div class="video-container hide" id="video">
                    <div><iframe id="youtube_video" frameborder="0" allowfullscreen></iframe></div>
                </div>
                <button id="back_button" class="btn-submit hide">Back</button>
            </div>
            <div class="col-sm-6">
                <div class="our-skills wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                    <h2>pH Levels</h2>
                    <div class="single-skill wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="400ms">
                        <p class="lead">Phenoh 7.4</p>
                        <div class="progress">
                            <div class="progress-bar progress-bar-primary six-sec-ease-in-out" role="progressbar"  aria-valuetransitiongoal="74">7.4</div>
                        </div>
                    </div>
                    <div class="single-skill wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <p class="lead">Human Body</p>
                        <div class="progress">
                            <div class="progress-bar progress-bar-primary six-sec-ease-in-out" role="progressbar"  aria-valuetransitiongoal="74">7.4</div>
                        </div>
                    </div>
                    <div class="single-skill wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <p class="lead">Coconut Water</p>
                        <div class="progress">
                            <div class="progress-bar progress-bar-primary six-sec-ease-in-out" role="progressbar"  aria-valuetransitiongoal="65">6.5</div>
                        </div>
                    </div>
                    <div class="single-skill wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="500ms">
                        <p class="lead">Purified Bottled Water</p>
                        <div class="progress">
                            <div class="progress-bar progress-bar-primary six-sec-ease-in-out" role="progressbar"  aria-valuetransitiongoal="55">5.5</div>
                        </div>
                    </div>
                    <div class="single-skill wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="700ms">
                        <p class="lead">Sports Drink</p>
                        <div class="progress">
                            <div class="progress-bar progress-bar-primary six-sec-ease-in-out" role="progressbar"  aria-valuetransitiongoal="29">2.9</div>
                        </div>
                    </div>
                    <div class="single-skill wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="700ms">
                        <p class="lead">Coffee</p>
                        <div class="progress">
                            <div class="progress-bar progress-bar-primary six-sec-ease-in-out" role="progressbar"  aria-valuetransitiongoal="50">5.0</div>
                        </div>
                    </div>
                </div>
                <p>*pH based on survey of leading brands.  Actual pH may vary slightly due to shelf stability.</p>
            </div>
        </div>
    </div>
</section><!--/#about-us-->

<section id="store">
    <div class="container">
        <div class="row buy-desc">
            <div class="col-sm-2 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
                <div class="logo-sales">
                    <img class="img-responsive" src="public/assets/images/store-logo.png" alt="logo">
                </div>
            </div>
            <div class="col-sm-5 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
                <h4>Why drink Phenoh 7.4?</h4>
                <ul>
                    <li>More alkaline minerals than alkaline waters<br></li>
                    <li>More organic nutrients than vitamin enhanced waters<br></li>
                    <li>Less sugar, lower calories and more alkaline than coconut waters<br></li>
                    <li>No preservatives, additives artificial colors or sweeteners<br></li>
                    <li>No high fructose corn syrup or GMO’s<br></li>
                    <li>High potassium, with no added sodium<br></li><br><br>
                </ul>
            </div>
            <div class="heading col-sm-5 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
                <h4>Phenoh 7.4 is now available in three revitalizing flavors :</h4>
                <ul>
                    <li>Active Mixed Berry</li>
                    <li>Invigorating Green Melon</li>
                    <li>Energizing Tropical Fruit</li>
                </ul>
                <h3>FREE SHIPPING ON ALL U.S. ORDERS</h3>
                <a href="#" id="nutrition_label" data-toggle="modal" data-target="#nutrition_modal">Click here for Nutrition Label</a>
            </div>
        </div>
        <div id="nutrition_modal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content" style="width:50%; margin:0 auto;">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Nutrition Label</h4>
                    </div>
                    <div class="modal-body">
                        <p><img class="img-responsive" src="public/assets/images/nutrition_fact.png" style="width: 250px;" alt="label"></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="400ms">
                <div class="boxSales">
                    <div id='product-component-c94c47ee454'></div>
                </div>
            </div>
            <div class="col-sm-3 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="400ms">
                <div class="boxSales">
                    <div id='product-component-cfa98736150'></div>
                </div>
            </div>
            <div class="col-sm-3 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="400ms">
                <div class="boxSales">
                    <div id='product-component-2059dc9bfc0'></div>
                </div>
            </div>
            <div class="col-sm-3 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="400ms">
                <div class="boxSales">
                    <div id='product-component-5af59eeaa60'></div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 40px;">
            <div class="col-sm-9 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="500ms">
                <div class="col-sm-6">
                    <div class="boxSales">
                        <div id='product-component-85808aef6e5'></div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="boxSales">
                        <div id='product-component-8580be17067'></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="500ms">
                <div class="boxSales">
                    <div id='product-component-d51281167c2'></div>
                </div>
            </div>
        </div>
    </div>
</section><!--/#store-->

<section id="portfolio">
    <h2 style="text-align: center;">We're Social</h2>
    <!-- SnapWidget -->
    <script src="https://snapwidget.com/js/snapwidget.js"></script>
    <iframe src="https://snapwidget.com/embed/code/205166" class="snapwidget-widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:100%; "></iframe>
</section><!--/#portfolio-->

<section id="team">
    <div class="container">
        <div class="row">
            <div class="heading text-center col-sm-8 col-sm-offset-2 wow fadeInUp" data-wow-duration="1200ms" data-wow-delay="300ms">
                <h2>The Team</h2>
            </div>
        </div>
        <?php echo $team_tpl ?>  
    </div>
</section><!--/#team-->

<?php echo $fun_tpl ?>

<section id="reviews">
    <div class="container">
        <div class="row">
            <div class="heading text-center col-sm-8 col-sm-offset-2 wow fadeInUp" data-wow-duration="1200ms" data-wow-delay="300ms">
                <h2>Testimonials</h2>
            </div>
        </div>
        <div class="pricing-table">
            <div class="row headerImg" style="list-style-type:none;">
                <div class="col-sm-3 <?php echo $oddClass; ?> img_cont">
                    <div class="single-table wow flipInY img_div" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <h3><?php echo $testimonials[0][name] ?></h3>
                            <img src="public/assets/images/Jason.png" alt="" class="img-responsive">
                        <div class="price">
                            <span><?php echo $testimonials[0][title] ?></span>                          
                        </div>
                        <ul><?php echo $testimonials[0][description] ?></ul>
                    </div>
                </div>
                <div class="col-sm-3 <?php echo $evenClass; ?> img_cont">
                    <div class="single-table wow flipInY img_div" data-wow-duration="1000ms" data-wow-delay="500ms">
                        <h3><?php echo $testimonials[1][name] ?></h3>
                        <img src="public/assets/images/Jordan.png" alt="" class="img-responsive">
                        <div class="price">
                            <span><?php echo $testimonials[1][title] ?></span>                                
                        </div>
                        <ul><?php echo $testimonials[1][description] ?></ul>
                    </div>
                </div>
                <div class="col-sm-3 <?php echo $oddClass; ?> img_cont">
                    <div class="single-table wow flipInY img_div" data-wow-duration="1000ms" data-wow-delay="800ms">
                        <h3><?php echo $testimonials[2][name] ?></h3>
                        <img src="public/assets/images/Paige.png" alt="" class="img-responsive">
                        <div class="price">
                            <span><?php echo $testimonials[2][title] ?></span>                                
                        </div>
                        <ul><?php echo $testimonials[2][description] ?></ul>
                    </div>
                </div>
                <div class="col-sm-3 <?php echo $evenClass; ?> img_cont">
                    <div class="single-table wow flipInY img_div" data-wow-duration="1000ms" data-wow-delay="1100ms">
                        <h3><?php echo $testimonials[3][name] ?></h3>
                        <img src="public/assets/images/Anwar.png" alt="" class="img-responsive">
                        <div class="price">
                            <span><?php echo $testimonials[3][title] ?></span>                    
                        </div>
                        <ul><?php echo $testimonials[3][description] ?></ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!--/#pricing-->

<section id="twitter" class="parallax">
    <div>
        <a class="twitter-left-control" href="#twitter-carousel" role="button" data-slide="prev"><i class="fa fa-angle-left"></i></a>
        <a class="twitter-right-control" href="#twitter-carousel" role="button" data-slide="next"><i class="fa fa-angle-right"></i></a>
        <div class="container">
            <h2>REVIEWS</h2>
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <div class="facebook-icon text-center">
                        <i class="fa fa-facebook-square"></i>
                        <h4>Phenoh 7.4</h4>
                    </div>
                    <div id="twitter-carousel" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="item active">
                                <p><iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fmckenna.vega.3%2Fposts%2F614639882033621%3A0&width=500" width="500" height="455" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe></p>
                            </div>
                            <div class="item">
                                <p><iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Ftetrud%2Fposts%2F10100712962559443%3A0&width=500" width="500" height="455" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe></p>
                            </div>
                            <div class="item">                                
                                <p><iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fwaalajr%2Fposts%2F10156564964660231%3A0&width=500" width="500" height="455" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe></p>
                            </div>
                        </div>                        
                    </div>                    
                </div>
            </div>
        </div>
    </div>
</section><!--/#twitter--> 

<section id="contact">
    <div class="bh-sl-container container-fluid">
        <div class="jumbotron">
            <div class="container">
                <h3>Where you can find Phenoh!</h3>
                <div class="bh-sl-form-container">
                    <form id="bh-sl-user-location" class="form-inline" method="post" action="#" role="form">
                        <div class="form-input form-group">
                            <label for="bh-sl-address">Zip/Postal Code or City, State/Province or Country:</label>
                            <input class="form-control" type="text" id="bh-sl-address" name="bh-sl-address" style="width:325px;"/>
                        </div>
                        <button id="bh-sl-submit" class="btn btn-primary" type="submit">Submit</button>
                    </form>
                </div>
            </div>
        </div>
        <div id="bh-sl-map-container" class="bh-sl-map-container">
            <div class="row">
                <div id="map-results-container" class="container">
                    <div id="bh-sl-map" class="bh-sl-map col-md-9"></div>
                    <div class="bh-sl-loc-list col-md-3">
                        <ul class="list list-unstyled"></ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="contact-us" class="parallax">
        <div class="container">
            <div class="row">
                <div class="heading text-center col-sm-8 col-sm-offset-2 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
                    <h2>Contact Us</h2>
                    <p>We love to hear from you!</p>
                </div>
            </div>
            <div class="contact-form wow fadeIn" data-wow-duration="1000ms" data-wow-delay="600ms">
                <div class="row">
                    <div class="col-sm-6">
                        <form id="main-contact-form" name="contact-form" method="post">
                            <p class="error text-danger"></p>
                            <div class="row  wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input type="text" id="name" name="form[name]" class="form-control" placeholder="Name">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input type="email" id="email" name="form[email]" class="form-control" placeholder="Email Address">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="text" id="subject" name="form[subject]" class="form-control" placeholder="Subject">
                            </div>
                            <div class="form-group">
                                <textarea name="form[message]" id="message" class="form-control" rows="4" placeholder="Enter your message"></textarea>
                            </div>                        
                            <div class="form-group">
                                <button type="submit" id="form_submit" class="btn-submit">Send</button>
                            </div>
                        </form>   
                    </div>
                    <div class="col-sm-6">
                        <div class="contact-info wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
                            
                            <ul class="address">
                                <li><i class="fa fa-map-marker"></i> <span> Address:</span> 1121 San Antonio Road, Suite D206, Palo Alto, CA 94303 </li>
                                <li><i class="fa fa-envelope"></i> <span> Email:</span><a href="mailto:info@phenoh.com"> info@phenoh.com</a></li>
                                <li><i class="fa fa-globe"></i> <span> Website:</span> <a href="#">www.phenoh.com</a></li>
                            </ul>
                        </div>                            
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>