<div class="team-members">
    <div class="row">
        <div class="col-sm-6">
            <div class="team-member wow front"  data-wow-duration="1000ms" data-wow-delay="300ms">
                <div class="member-image">
                    <img src="public/assets/images/team/alex-new.png" alt="" width="250">
                </div>
                <div class="member-info">
                    <h3>Alex Schmotter</h3>
                    <h4>CEO &amp; Founder</h4>
                </div>
                <div class="social-icons">
                    <ul>
                        <li><a class="linkedin" target="_blank" href="https://www.linkedin.com/in/alex-schmotter-1a537141?trk=extra_biz_connect_hb_upphoto"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="team-member">
                <div class="Tback">
                    <p>Hi, I’m Alex. As the son of a Dentist and a professional chef, the brother of an elite triathlete, and a lifelong athlete myself, I grew up living a healthy and active lifestyle. From an early age, I knew that I would grow up to be a dentist as well, but I always wanted to do something more. I started Phenoh as an effort to solve a significant but easily avoidable problem with beverages today. Now I spend my time developing new products, building the Phenoh brand, traveling the World providing philanthropic dental care, and living an active outdoor life.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="team-member wow front" data-wow-duration="1000ms" data-wow-delay="500ms">
                <div class="member-image">
                    <img class="" src="public/assets/images/team/wei-ken-new.png" alt="" width="250">
                </div>
                <div class="member-info">
                    <h3>Wei-ken Seto</h3>
                    <h4>Co-Founder &amp; COO</h4>
                </div>
                <div class="social-icons">
                    <ul>
                        <li><a class="linkedin" target="_blank" href="https://www.linkedin.com/in/weseto?authType=name&authToken=dueU&trk=prof-sb-browse_map-name"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="team-member">
                <div class="Tback">
                    <p>Hi, I’m Wei-Ken. I’ve always had the entrepreneurial spirit. In school I used to trade my drawing skills for … well, more lunch money. Working with Alex at Phenoh allows me to blend my background in finance, operations and start-ups with my passion for innovation and creativity, and be part of a very exciting company with a truly revolutionary health-focused product. When I am not brainstorming ways to make Phenoh great, I can be found trying to improve my USTA tennis rating, playing music and creating artwork.</p>
                </div>
            </div>
        </div>
    </div>
</div>    